*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans',sans-serif;
}

.wrapper{ 
  width: 1100px;
  margin: auto;   
}

.logo {
  font-size: 40px;
  font-weight: 600;
  float: left;
  font-family: Courier;
  color: rgb(239, 255, 245);
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: relative;
  top: 0;
  background: rgb(0, 200, 255);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 15px;
}

nav ul li a {
  color: white;
 text-decoration: none;
 display: inline-block;
 transition: color 0,3s, transform 0.3s;
}

nav ul li a:hover{
  text-decoration: none;
  font-size: 20px;
  color: black;
  transform: scale(1.1);
}

section {
  margin-top: 80px;
  display: grid;
  place-items: center;
}

.kolom {
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  place-items: center;
}

.kolom .deskripsi {
  margin-top: 20px;
  font-weight: bold;
  font-family: 'comic sans-ms';
  color: black;
  display: grid;
  place-items: center;
}

h2 {
  font-family: 'comic sans-ms';
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 5px;
  color: black;
  width: 100%;
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.container img {
  width: 200px;
  height: 200px;
  margin: 30px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 600;
  top: 10px;
}

section {
  padding: 2em;
  background-color: rgb(250, 246, 246);
}

.informasi-i {
  font-family: 'comic sans-ms';
}
footer {
   background-color:  rgb(0, 200, 255);
   color: rgb(255, 255, 255);
   text-align: center;
   position: fixed;
   width: 100%;
   bottom: 0;
}